.container-body {
    height: 100%;
    text-align: center;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    width: 80%;
    margin: 20px auto;
  }
  
  .buttonRegister, .buttonEdit {
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: #f1ac13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px; 
  }
  
  
  .buttonEdit {
    background-color: #007bff; /* Color azul para el botón "Modificar" */
    margin-right: 20px; 
  }
  
  .swal-title {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
  }
  
  .swal2-input {
    width: 80%;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  