.user-in-container-user-In {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    font-family: Arial, sans-serif;
    
}

.icon-wrapper-user-In:first-of-type {
    margin-right: 20px; /* Ajusta el valor según el espacio que desees */
}

.icon-wrapper-user-In {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-spacing-user-In {
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
   
}
.icon-label {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: -5px;
}

/* Dropdown del usuario */
.dropdown-menu-user-In {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
}

.menu-item-user-In {
    padding: 10px 20px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.menu-item-user-In:hover {
    background-color: #f0f0f0;
}

/* Fondo oscuro para el modal */
.modal-overlay {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* Contenido del modal */
.modal-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    width: 650px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}
.modal-content input[type="date"],
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content input[type="tel"]  {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #A67C52; /* Color marrón */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #8b5e3c; /* Color marrón oscuro */
}

.modal-content .forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.modal-content .forgot-password a {
    color: #333;
    text-decoration: none;
}

.modal-content .forgot-password a:hover {
    text-decoration: underline;
}

/* Botón de cierre para el modal */
.close-btn {
    margin-top: 10px;
    background: #aaa;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.close-btn:hover {
    background: #888;
}

/* Barra lateral para "Mis productos" */
.sidebar-cart {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f4f4f8;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Oculta la barra por defecto */
}

/* Mostrar barra lateral cuando está activa */
.sidebar-cart.active {
    transform: translateX(0);
}

.cart-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-cart h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Estilos para el botón "Ir a pagar" */
.pay-button {
    padding: 10px;
    background-color: #A67C52;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: #8b5e3c;
}

/* Estilos para el botón "Seguir comprando" */
.continue-button {
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #e0e0e0;
}

/* sweetalert.css */
.custom-swal {
    font-family: Arial, sans-serif !important;
  }