.navbar {
  background-color: #9C744B; /* Tono marrón */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: white;
  font-size: 20px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; /* Centra el contenedor en la página */
 
}


.social-icons i {
  margin-right: 15px; /* Agrega espacio entre los íconos */
  cursor: pointer;
  
}

.icon-spacing{
  font-size: 24px;
  color: white;
  margin: 0 15px;
}

.user-icons i {
  margin-left: 15px;
  cursor: pointer;
}

.navbar i:hover {
  opacity: 0.7;
}


.separator {
  background-color: #9C744B;
  display: block;
  height: 20px;
  margin-top: 10px;
  width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 10px;  
  }
  
.logo-image {
    width: 300px; /* Ajusta el ancho */
    height: auto;
    display: block;
  }
  
  .search-bar-div {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinea la barra de búsqueda a la derecha */
    margin-right: 100px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #d3d3d8;
    border-radius: 25px;
    padding: 10px 15px;
    width: 150%; /* Ajusta el ancho de la barra de búsqueda */
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar i {
    font-size: 20px;
    color: #333;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
  
  .search-bar i:hover {
    color: #555;
  }
  